.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding-top: 30px;
  gap: 30px;
}

h1 {
  padding-top: 10px;
}

.dropdown-section {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
}

.dropdown-menu {
  min-width: 100px;
}

.button-home {
  margin: 50px 0;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .button-home {
    margin: 20px 0;
  }
}
