.button-container {
  letter-spacing: 0.5px;
  padding: 7px 15px;
  font-size: 14px;

  border-radius: 5px;
  background-color: #1258c1;
  color: white;

  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container:hover {
  background-color: #508fed;
}

.button-container:active {
  scale: 0.98;
}

.form-button {
  width: 100%;
}

.light {
  background-color: #3707f7;
}
