.nav-container {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 20px;
}

.logo-container img {
  width: 180px;
}

.navbar {
  gap: 30px;
}

.buttons-container {
  display: flex;
  gap: 15px;
}

.navbar-collapse {
  justify-content: space-around;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  gap: 20px;
}

.navbar-nav,
.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 30px; */
}

.nav-item {
  gap: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
}

.nav-icon {
  padding-right: 10px;
  height: 25px;
  width: 25px;
}

.pic {
  height: 150px;
  width: 150px;
}

.searchcard-container {
  position: relative;
}

.collapse-icon {
  height: 100%;
  width: 100%;
}

.navbar-toggler-icon:focus {
  outline: none !important;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .search-box {
    width: 160px;
  }
}

@media (max-width: 576px) {
  .logo-container img,
  .logo-container {
    width: 130px;
  }

  .search-box {
    width: 280px;
    margin-bottom: 35px;
  }

  .navbar {
    margin: 0;
  }

  .navbar-nav li:last-child {
    padding-top: 30px;
  }
}
