.product-type {
  display: inline;
  text-transform: capitalize;
}

.product-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  gap: 250px;
}

.product-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.product-description ul {
  list-style: none;
  padding-left: 0;
  font-size: 30px;
}

.price-block {
  font-size: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-price {
  font-size: 20px;
  text-decoration: line-through;
  color: #aaa;
}

.product-image {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .profile-container,
  .profile-container-empty {
    width: 800px;
  }

  .product-image img {
    width: 400px;
    height: auto;
  }

  .product-container {
    gap: 150px;
  }

  .product-list li {
    font-size: 24px;
  }

  .product-list {
    margin-bottom: 0;
  }

  .product-description {
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .profile-container,
  .profile-container-empty {
    width: 700px;
    margin: 0 auto;
  }

  .orders-container {
    width: 90%;
  }

  .product-container {
    flex-direction: column;
    gap: 100px;
  }

  .product-image img {
    width: 300px;
    height: auto;
  }

  .price-block {
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .profile-container,
  .profile-container-empty {
    width: 550px;
    margin: 0 auto;
  }

  .checkout-item-container {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .profile-container,
  .profile-container-empty {
    width: 400px;
    margin: 0 auto;
    /* font-size: 20px; */
  }

  .checkout-item-container {
    font-size: 14px;
  }
}
