.wsk-cp-product {
  background: #fff;
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.18);
  position: relative;
  margin: 20px auto;
  width: 270px;
}
.wsk-cp-img {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}
.wsk-cp-img img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -10px;
}

.wsk-cp-product:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3), 0 10px 6px rgba(0, 0, 0, 0.22);
  transition: all 0.3s ease-in-out;
}
.wsk-cp-text {
  padding-top: 110%;
}

.category {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}
.wsk-cp-text .category > * {
  max-width: 150px;
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #aaa;
  background: #ddd;
  box-shadow: none;
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
  display: inline-block;
  text-align: center;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-transform: capitalize;
}
.wsk-cp-text h5 {
  text-align: center;
}
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.footer-card {
  padding: 15px 0 5px;
  max-height: 100px;
  height: 80px;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-card h5 {
  text-align: start;
  color: #aaa;
  text-decoration: line-through;
}

.footer-card h4 {
  margin: 0;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }
  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }
  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }

  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

@media (max-width: 1400px) {
  .wsk-cp-product {
    width: 200px;
  }

  .title-product,
  .footer-card h5 {
    font-size: 16px;
  }

  .footer-card h4 {
    font-size: 18px;
  }

  .button-container {
    font-size: 16px;
    padding: 0 12px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .category span {
    padding: 8px 20px !important;
  }

  .category {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .wsk-cp-product {
    width: 220px;
  }
}

@media screen and (max-width: 576px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .wsk-cp-product {
    width: 160px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .category span {
    padding: 2px 8px !important;
    font-size: 12px;
  }

  .category {
    gap: 2px;
  }

  .title-product h3,
  .wsk-cp-text h5 {
    font-size: 18px !important;
  }

  .footer-card h4 {
    font-size: 16px;
  }

  .footer-card h5 {
    font-size: 14px;
  }
}

.test {
  z-index: 11;
}
